/*.content-container {
    min-height: 100vh;
}*/

a:hover {
    color: inherit;
}

.header-buttons
{
    color: var(--mud-palette-white);
}

.breadcrumbs {
    color: var(--mud-palette-action-default);
}