@page "/test/foka"
@using fishportfolio.Pages.Components
<h3>foka</h3>
<MudContainer MaxWidth="MaxWidth.False" Class="ma-0 pa-0 d-flex justify-content-end">
    <Fishcrumbs />
</MudContainer>
@code {

}