@page "/test"
@using fishportfolio.Pages.Components
<h3>test</h3>
    <MudContainer MaxWidth="MaxWidth.False" Class="ma-0 pa-0 d-flex justify-content-end">
        <Fishcrumbs />
    </MudContainer>
@code {

}
